.container {
  margin: 0 20px;
}

.list-view {
  margin-top: 20px;
}

.pointer {
  cursor: pointer;
}

.between {
  display: flex;
  justify-content: space-between;
}

.list-animation {
  animation-duration: 0.3s;
}
